include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include SECURITY.md
recursive-include bor *.py
recursive-include examples *.py
recursive-include tests *.py
recursive-include docs *.md

